# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Learn popular languages used by Data Scientists
* Learn commonly used libraries used by Data Scientists
* Use Arithmetic Expressions in Python
* Learn Different types of models used for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. MatPlotLib
5. Scikit-Learn

|Data Science Tools|
|---|
|Jupyter Notebook|
|Rstudio|
|GoogleColab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to multiply then add integers

result = (3*4)+5
result

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

hours = 200 / 60
hours

3.3333333333333335

## Author
Yassin Elakkad